name: CI-CD pipeline tests

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build docker images
      run : |
        docker build -t ssm0712/github-actions-tests:${{github.sha}} .
        docker build -t ssm0712/github-actions-tests:latest .
  
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install
      
    - name: Run tests
      run: node tests/test.js

  push:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker Image
      run: |
        docker build -t ssm0712/github-actions-tests:${{ github.sha }} .
        docker build -t ssm0712/github-actions-tests:latest
    
    - name: Push Docker Images
      run: |
        docker push ssm0712/github-actions-tests:${{ github.sha }}
        docker push ssm0712/github-actions-tests:latest
        
